wheel
Flask
flask_sqlalchemy
email-validator
argon2-cffi
Flask-Limiter
Flask-Login
Flask-Mail
Flask-WTF
importlib-resources
itsdangerous
Jinja2
Pillow
python-dotenv
regex
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug==2.3.0
WTForms
flask_migrate
flask_caching
authlib
Flask-APScheduler
wtforms-sqlalchemy
schedule
psycopg2-binary
greenlet
typing_extensions
sqlalchemy_utils
azure-identity
azure-mgmt-compute
feedgen