{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div>
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/extra.css') }}">

<div class="admin-panel">
    <div class="hackplanet_titles">
        <h1>HackPlanet.EU Admin Panel</h1>
    </div>
    
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <!-- Server Management -->
            <div class="col">
                <a href="{{ url_for('main.manage_settings') }}" class="btn btn-info dashboard-button">
                    <i class="fas fa-cogs dashboard-icon"></i>
                    Server Settings
                </a>
            </div>
            {% if enable_server_status %}
            <div class="col">
                <a href="{{ url_for('main.admin_status_page') }}" class="btn btn-warning dashboard-button">
                    <i class="fas fa-info dashboard-icon"></i>
                    Server Info
                </a>
            </div>
            {% endif %}
            <div class="col">
                <a href="{{ url_for('main.admin_help') }}" class="btn btn-secondary dashboard-button">
                    <i class="fas fa-question-circle dashboard-icon"></i>
                    Admin Help
                </a>
            </div>

            <!-- User Management -->
            <div class="col">
                <a href="{{ url_for('main.usermanager') }}" class="btn btn-success dashboard-button">
                    <i class="fas fa-users-cog dashboard-icon"></i>
                    User Manager
                </a>
            </div>
            <div class="col">
                <a href="{{ url_for('main.whitelist') }}" class="btn btn-dark dashboard-button">
                    <i class="fas fa-user-shield dashboard-icon"></i>
                    Whitelist Manager
                </a>
            </div>
            <div class="col">
                <a href="{{ url_for('main.manage_invites') }}" class="btn btn-green dashboard-button">
                    <i class="fas fa-envelope-open-text dashboard-icon"></i>
                    Invite Manager
                </a>
            </div>

            <!-- Content Management -->
            <div class="col">
                <a href="{{ url_for('main.lab_manager') }}" class="btn btn-primary dashboard-button">
                    <i class="fas fa-flask dashboard-icon"></i>
                    Lab Manager
                </a>
            </div>
            <div class="col">
                <a href="{{ url_for('main.challenge_manager') }}" class="btn btn-primary dashboard-button">
                    <i class="fas fa-cog dashboard-icon"></i>
                    Challenge Manager
                </a>
            </div>
            <div class="col">
                <a href="{{ url_for('main.quiz_manager') }}" class="btn btn-primary dashboard-button">
                    <i class="fas fa-question-circle dashboard-icon"></i>
                    Quiz Manager
                </a>
            </div>

            <!-- Additional Management -->
            <div class="col">
                <a href="{{ url_for('main.host_manager') }}" class="btn btn-secondary dashboard-button">
                    <i class="fas fa-server dashboard-icon"></i>
                    Host Manager
                </a>
            </div>
            <div class="col">
                <a href="{{ url_for('main.flag_manager') }}" class="btn btn-primary dashboard-button">
                    <i class="fas fa-flag dashboard-icon"></i>
                    Flag Manager
                </a>
            </div>
            <div class="col">
                <a href="{{ url_for('main.studyroom_manager') }}" class="btn btn-success dashboard-button">
                    <i class="fas fa-book-reader dashboard-icon"></i>
                    StudyRoom Manager
                </a>
            </div>
            <div class="col">
                <a href="{{ url_for('main.file_manager') }}" class="btn btn-info dashboard-button">
                    <i class="fas fa-file-alt dashboard-icon"></i>
                    File Manager
                </a>
            </div>

            <div class="col">
                <a href="{{ url_for('main.manage_themes') }}" class="btn btn-primary dashboard-button">
                    <i class="fas fa-paint-brush dashboard-icon"></i>
                    Theme Manager
                </a>
            </div>

            {% if enable_newsletter %}
            <div class="col">
                <a href="{{ url_for('main.newsletter') }}" class="btn btn-dark dashboard-button">
                    <i class="fas fa-envelope dashboard-icon"></i>
                    Newsletter
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
