{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div>
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div class="container">
    <div class="glass-panel">
        <h1>{% if challenge %}Edit Challenge{% else %}Add New Challenge{% endif %}</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.description.label }}
                {{ form.description(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.flag_uuid.label }}
                {{ form.flag_uuid(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.html_link.label }}
                {{ form.html_link(class="form-select") }}
            </div>
            <div class="form-group">
                {{ form.downloadable_file.label }}
                {{ form.downloadable_file(class="form-select") }}
            </div>
            <div class="form-group">
                {{ form.point_value.label }}
                {{ form.point_value(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.hint.label }}
                {{ form.hint(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.hint_cost.label }}
                {{ form.hint_cost(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.solution.label }}
                {{ form.solution(class="form-control", rows=10) }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('bp_admin.challenge_manager') }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var pointValueInput = document.getElementById('point_value');
        var hintCostInput = document.getElementById('hint_cost');

        function validateHintCost() {
            var pointValue = parseInt(pointValueInput.value);
            var hintCost = parseInt(hintCostInput.value);

            if (hintCost > pointValue) {
                hintCostInput.setCustomValidity('Hint cost must be less than or equal to the total points.');
            } else {
                hintCostInput.setCustomValidity('');
            }
        }

        pointValueInput.addEventListener('input', validateHintCost);
        hintCostInput.addEventListener('input', validateHintCost);
    });
</script>
{% endblock %}
