{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div>
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div class="container">
        <!-- Back to Dashboard Button -->
        <div class="container mt-3">
            <a href="{{ url_for('main.admin_dashboard') }}" class="btn btn-lg btn-primary">Back to Dashboard</a>
        </div>
    <h1>User Created Successfully</h1>
    <p>The user has been created successfully.</p>
</div>
{% endblock %}
