{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div>
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div class="container">
    <div class="glass-panel">
        <div class="container mt-3">
            <a href="{{ url_for('main.admin_dashboard') }}" class="btn btn-lg btn-primary">Back to Dashboard</a>
        </div>
        <h1>{{ 'Edit Host' if host else 'Create New Host' }}</h1>
        <form method="POST" action="{{ url_for('main.host_editor', host_id=host.id if host else None) }}">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.os.label(class="form-label") }}
                {{ form.os(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.difficulty.label(class="form-label") }}
                {{ form.difficulty(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.ip.label(class="form-label") }}
                {{ form.ip(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.status.label(class="form-check-label") }}
                {{ form.status(class="form-check-input") }}
            </div>
            <div class="mb-3">
                {{ form.rating.label(class="form-label") }}
                {{ form.rating(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.release_date.label(class="form-label") }}
                {{ form.release_date(class="form-control", type="date") }}
            </div>
            <div class="mb-3">
                {{ form.hint.label(class="form-label") }}
                {{ form.hint(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.lab_id.label(class="form-label") }}
                {{ form.lab_id(class="form-select") }}
            </div>
            <div class="mb-3">
                {{ form.image_url.label(class="form-label") }}
                {{ form.image_url(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.azure_vm_id.label(class="form-label") }}
                {{ form.azure_vm_id(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Save Host</button>
        </form>
    </div>
</div>
{% endblock %}
