{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/extra.css') }}">
{% with messages = get_flashed_messages() %}
{% if messages %}
<div>
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div class="container">
    <div class="glass-panel">
        <div class="container mt-3">
            <a href="{{ url_for('main.admin_dashboard') }}" class="btn btn-lg btn-primary">Back to Dashboard</a>
            <a href="{{ url_for('main.lab_manager') }}" class="btn btn-lg btn-secondary">Back to Lab Manager</a>
        </div>
        <h1>{{ 'Edit Lab' if lab else 'Create New Lab' }}</h1>
        <div id="feedback-message"></div>
        <form id="lab-form" method="POST" action="{{ url_for('main.lab_editor', lab_id=lab.id if lab else None) }}">
            {{ form.hidden_tag() }}
            {% if lab %}
            <input type="hidden" name="lab_id" value="{{ lab.id }}">
            {% endif %}
            {% for field in form if field.name != 'csrf_token' and field.name != 'submit' %}
                <div class="mb-3">
                    {{ field.label(class="form-label") }}
                    {% if field.name == 'image' %}
                        {{ field(class="form-select") }}
                    {% else %}
                        {{ field(class="form-control") }}
                    {% endif %}
                    <div class="invalid-feedback" id="{{ field.name }}-error"></div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">{{ 'Update Lab' if lab else 'Create Lab' }}</button>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/lab_editor.js') }}"></script>
{% endblock %}