.user-profile-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.glass-panel {
    position: relative;
    z-index: 1;
}

.chip {
    margin: 1rem auto;
    width: fit-content;
}

.trophy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.user-profile-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    min-height: 100vh;
    position: relative;
}

.hint-used {
    background-color: #fff3cd;
}
.hint-used .badge {
    color: #856404;
}
