<!-- /modules/templates/site/challenges.html -->
{% extends 'base.html' %}

{% block content %}
<script src="{{ url_for('static', filename='js/flag_submission.js') }}"></script>
<div class="container">
    <div id="flagModal" class="modal">
        <div class="modal-content">
            <span id="modalEmoticon" class="modal-emoticon"></span>
            <p id="modalMessage"></p>
        </div>
    </div>
    <div class="glass-panel">
        <div class="labs_title">
            <h1>Challenges</h1>
        </div>
        <div class="row">
            {% for challenge in challenges %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ challenge.image }}" class="card-img-top" alt="{{ challenge.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ challenge.name }}</h5>
                        <p class="card-text">Category: {{ challenge.category }}</p>
                        <p class="card-text">Points: {{ challenge.point_value }}</p>
                        <p class="card-text">{{ challenge.description }}</p>
                        <div class="flag-input-container">
                            <input type="text" id="challenge-flag-{{ challenge.id }}" placeholder="Enter flag" class="flag-input">
                            <button type="button" class="btn btn-primary" onclick="submitFlag('{{ challenge.id }}', 'challenge')">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}