{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div>
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="container">

    <div class="glass-panel">
        <div class="hackplanet_titles">
            <div class="text-start">
                <a href="{{ url_for('main.ctf_home') }}" class="btn btn-secondary">Back</a>
            </div>
            
            <h1>HackPlanet.EU Hacking Labs</h1>
        </div>

        {% if no_labs %}
            <div class="alert alert-warning" role="alert">
                There are no labs defined. Please ask your administrator to define new labs.
                {% if is_admin %}
                    <a href="{{ url_for('main.lab_manager') }}" class="btn btn-primary">Go to Lab Manager</a>
                {% endif %}
            </div>
        {% else %}
            {% for lab in labs %}
            <div class="lab">
                <h2>{{ lab.name }}</h2>
                <div class="lab-content">
                    <div class="lab-description">
                        <p>{{ lab.description }}</p>
                        <p>VPN Status: <span class="vpn-status-indicator" data-agent-id="{{ lab.vpn_server }}">Loading...</span></p>
                        {% if lab.vpn_server %}
                            <button class="btn btn-success start-vpn" data-lab-id="{{ lab.id }}">Start VPN</button>
                            <button class="btn btn-danger stop-vpn" data-lab-id="{{ lab.id }}">Stop VPN</button>
                        {% endif %}
                        {% if lab.vpn_file %}
                            <a href="{{ '/static/library/labfiles/' + lab.vpn_file }}" class="download-button btn btn-primary">Download VPN Access</a>
                        {% endif %}
                    </div>
                    <div class="lab-image-container">
                        {% if lab.image %}
                        <img src="{{ url_for('static', filename='library/images/labs/' + lab.image) }}" alt="{{ lab.name }}" class="lab-image">
                        {% endif %}
                    </div>
                </div>
                <script>
                    const labVpnServer = "{{ lab.vpn_server }}"
                </script>
                {% if lab.vpn_server %}
                    <button class="btn btn-success start-vpn" data-lab-id="{{ lab.id }}">Start VPN</button>
                    <button class="btn btn-danger stop-vpn" data-lab-id="{{ lab.id }}">Stop VPN</button>
                {% endif %}
                {% if lab.vpn_file %}
                    <a href="{{ '/static/library/labfiles/' + lab.vpn_file }}" class="download-button btn btn-primary">Download VPN Access</a>
                {% endif %}

            </div>

                <div class="hosts">
                    {% if lab in labs_without_hosts %}
                        <div class="alert alert-warning" role="alert">
                            There are no hosts defined for this lab.
                            {% if is_admin %}
                                <a href="{{ url_for('main.host_editor') }}" class="btn btn-primary">Add Host</a>
                            {% endif %}
                        </div>
                    {% else %}
                        {% for host in lab.hosts %}
                        <div class="host" data-host-id="{{ host.id }}">
                            <h3>{{ host.name | upper }} </h3>
                            <div class="host-image-container">
                                <img src="{{ '/static/library/images/hosts/' + host.image_url }}" alt="{{ host.name }}" class="host-image">
                            </div>
                            <p>IP Address: {{ host.ip }}</p>
                            <p>Difficulty: {{ host.difficulty }} {% if host.difficulty == 1 %}?{% elif host.difficulty == 2 %}?{% elif host.difficulty == 3 %}?{% elif host.difficulty == 4 %}?{% elif host.difficulty == 5 %}?{% elif host.difficulty == 6 %}?{% elif host.difficulty == 7 %}?{% elif host.difficulty == 8 %}?{% elif host.difficulty == 9 %}?{% elif host.difficulty == 10 %}?{% endif %}</p>
                            <p>Status: <span class="status-indicator" data-agent-id="{{ host.name }}">Loading...</span></p>
                            <a href="{{ url_for('main.host_details', host_id=host.id) }}" class="btn btn-info">Host Details</a>
        
                            <div class="host-inputarea">
                                {% if host.name != 'kalismurf' %}
                                {% if host.flags %}
                                    <div class="flag-input-container">
                                        <input type="text" id="user-flag-{{ host.id }}" placeholder="Enter User Flag" class="flag-input" {% if host.user_flag_completed %}style="display: none;"{% endif %}>
                                        <button type="button" class="btn btn-success" onclick="submitFlag('{{ host.id }}', 'user')" {% if host.user_flag_completed %}disabled{% endif %}>
                                            {% if host.user_flag_completed %}User Flag Hacked{% else %}Submit User Flag{% endif %}
                                        </button>
                                    </div>
                                    <div class="flag-input-container">
                                        <input type="text" id="root-flag-{{ host.id }}" placeholder="Enter Root Flag" class="flag-input" {% if host.root_flag_completed %}style="display: none;"{% endif %}>
                                        <button type="button" class="btn btn-danger" onclick="submitFlag('{{ host.id }}', 'root')" {% if host.root_flag_completed %}disabled{% endif %}>
                                            {% if host.root_flag_completed %}Root Flag Hacked{% else %}Submit Root Flag{% endif %}
                                        </button>
                                    </div>
                                    {% if host.user_flag_completed and host.root_flag_completed %}
                                    <div class="completed-overlay">PWNED!</div>
                                    {% endif %}
                                {% else %}
                                    <p>No flags available for this host.</p>
                                {% endif %}
                                {% else %}
                                <div class="kalismurf-credentials">
                                    <p>username : kali</p>
                                    <p>password : KaliLinux2024!</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<!-- Flag Submission Modal -->
<div class="modal fade" id="flagModal" tabindex="-1" aria-labelledby="flagModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="flagModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="flagModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/flag_submission.js') }}"></script>
<script>
    var loops = 0;

    document.addEventListener('DOMContentLoaded', function() {
        function updateHostStatus() {
            console.log('Fetching host status...');
            fetch('/api/host_status')
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Network response was not ok: ${response.statusText}`);
                    }
                    return response.json();
                })
                .then(data => {
                    // console.log('Received host status data:', data);
                    if (data.hosts) {
                        data.hosts.forEach(host => {
                            // console.log(`Processing host_id: ${host.agent_id}, Status: ${host.status}, Is VPN: ${host.is_vpn}`);
                            const selector = host.is_vpn ? `.vpn-status-indicator[data-agent-id="${host.agent_id}"]` : `.status-indicator[data-agent-id="${host.agent_id}"]`;
                            const statusElement = document.querySelector(selector);
                            if (statusElement) {
                                let status = host.status;
                                let color;
                                switch (status) {
                                    case 'Online':
                                        color = '#28a745';
                                        break;
                                    case 'Offline':
                                        color = '#dc3545';
                                        break;
                                    case 'Unknown':
                                        color = '#ffc107';
                                        break;
                                    default:
                                        status = 'Unknown';
                                        color = '#ffc107';
                                }
                                statusElement.textContent = status;
                                statusElement.style.color = color;
                                console.log(`Updated status for agent_id: ${host.agent_id} to ${status}`);
                                
                                // Update VPN status in the lab section if it's a VPN server
                                if (host.is_vpn) {
                                    const labVpnStatus = document.querySelector(`.lab-vpn-status[data-lab-id="${host.lab_id}"]`);
                                    if (labVpnStatus) {
                                        labVpnStatus.textContent = status;
                                        labVpnStatus.style.color = color;
                                    }
                                }
                            } else {
                                console.warn(`No status element found for agent_id: ${host.agent_id}`);
                            }
                        });
                    } else {
                        console.error('No hosts data found in the response.');
                    }
                })
                .catch(error => {
                    console.error('Error fetching host status:', error);
                });
        }
        
        // Update status immediately and then every 10 seconds
        loops++;
        console.log(`Loop number: ${loops}`);
        updateHostStatus();
        setInterval(updateHostStatus, 10000);
    
        // VPN control functionality
        function manageVPN(labId, action) {
            fetch('/manage_vpn', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                },
                body: JSON.stringify({ lab_id: labId, action: action })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === "success") {
                    // console.log(data.message);
                    
                } else {
                    console.error("Error managing VPN:", data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        }
    
        // Listen for clicks on VPN buttons
        document.addEventListener('click', function(event) {
            if (event.target.classList.contains('start-vpn') || event.target.classList.contains('stop-vpn')) {
                // Update the VPN status indicator based on button clicks
                const vpnStatusIndicator = document.querySelector(`.vpn-status-indicator[data-agent-id="${labVpnServer}"]`);
                if (vpnStatusIndicator) {
                    vpnStatusIndicator.textContent = event.target.classList.contains('start-vpn') ? 'Starting' : 'Stopping';
                }
                manageVPN(event.target.dataset.labId, event.target.classList.contains('start-vpn') ? 'start' : 'stop');
            }
        });
    });
    


</script>

{% endblock %}
