{% extends "base.html" %}
{% block content %}
<html>
<body>
<div class="container-base">
    <div class="glass-panel">

        <div class="content-textblock-help">
            <div class="content-textblock-help-q1">
                <h3>Getting Started :</h3>
    
                <br>
                - Each LAB is a seperate network with machines you can hack. To access each LAB, an OpenVPN connection file can be downloaded<br>
                - Submit your flags to check your progress and earn points<br>
                - Check the leaderboards to see how you rank among other participants<br>
    
                <br>
                <h3>Rules of Engagement:</h3>
    
                <br>
                - Brute force password cracking is never (intended) way to the goal. You are allowed to try, but you are probably on the wrong path.<br>
                - Do not attack the VPN server or the Hackplanet.eu webserver.<br>
                - Do not attack or disrupt other participants.<br>
                - Once you get root, do not delete flags. It is appreciated if you cleanup exploit related files when you are done. (To prevent spoilers)
                - If a host seems to have stopped responding, contact support for a reboot/rebuild<br>
                <br>
                <br>
                <h3>Technical Details:</h3>
                - The VPN is using a TUN interface, this makes it incompatible with nmap under Windows.
                - There is a KALI host available inside each LAB network; for all HackPlanet users.
                <br>
                
                    
            
            </p>
            </div>
            <div class="help-image">
                <img src="{{ url_for('static', filename='newstyle/hackplanet_help.jpg') }}" alt="HackPlanet.EU Logo" class="help-logo">
            </div>
        </div>
    </div>
</div>


</body>
{% endblock %}
