{% extends "base.html" %}
{% block content %}
<html>
<body>
<div class="container-base">
    <div class="glass-panel">
        <h1>Help !</h1>
        Thank you for using our ethical hacking training platform.<br>

        <div class="content-textblock-help">
            <div class="content-textblock-help-q1">
                <h2>USER TIPS :</h2>
    
                <br>
                - You can browse the available LAB environments<br>
                - To access the LAB environments, use the provided VPN connection details<br>
                - Submit your flags to check your progress and earn points<br>
    
                <br>
                <h2>ADDITIONAL TIPS :</h2>
    
                <br>
                - Check the leaderboards to see how you rank among other participants<br>
                - Each LAB environment is designed to test your ethical hacking skills<br>
                - Look for vulnerabilities, misconfigurations, and other security weaknesses<br>
                - Document your findings and submit detailed reports<br>
                - Respect the rules of engagement and do not attack or disrupt other participants<br>
                - If you encounter any issues or have questions, reach out to our support team<br>
                <br>
                </p>
            </div>
            <div class="help-image">
                <img src="{{ url_for('static', filename='newstyle/hackplanet_help.jpg') }}" alt="HackPlanet.EU Logo" class="help-logo">
            </div>
        </div>
    </div>
</div>


</body>
{% endblock %}
