<!-- /modules/templates/site/leaderboard.html -->
{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div>
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div class="container">
    <div class="glass-panel">

        <div class="labs_title">
            <div class="text-start">
                <a href="{{ url_for('main.ctf_home') }}" class="btn btn-secondary">Back</a>
            </div>
            <h1>HackPlanet.EU World Leaderboard</h1>
        </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Avatar</th>
                <th>Username</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <img src="{{ url_for('static', filename=user['avatarpath']) }}" alt="Avatar" style="width: 50px; height: 50px; border-radius: 50%;">
                </td>
                <td><a href="{{ url_for('main.user_details', user_id=user['id']) }}">{{ user['name'] }}</a></td>
                <td>{{ user['score_total'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <!-- New button to navigate to the progress page -->
    <div class="text-center mt-4">
        <a href="{{ url_for('main.user_progress') }}" class="btn btn-primary btn-lg">View Your Progress</a>
    </div>
</div>
</div>
{% endblock %}
