{% extends 'base.html' %}

{% block content %}
<div class="container-base">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flashes">
            {% for message in messages %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
</div>

{% if current_user.is_authenticated %}
<div class="content-restricted">
    <header class="header">
        <div class="logo-hack-container">
            <img src="{{ url_for('static', filename='newstyle/hackplanet.png') }}" alt="HackPlanet Logo" class="logo-hack">

        </div>
    </header>

    <section class="features">

        <div class="feature-block">
            <h3>Interactive LABs</h3>
            <p>Engage with diverse and dynamic LABs designed to challenge your hacking skills. Each LAB presents unique scenarios and vulnerabilities for you to discover and exploit.</p>
        </div>
        <div class="feature-block">
            <h3>Real-World Scenarios</h3>
            <p>Experience realistic hacking scenarios that simulate real-world security issues. Hone your skills in a safe and legal environment, preparing you for actual cybersecurity challenges.</p>
        </div>
        <div class="feature-block">
            <h3>Leaderboards & Rewards</h3>
            <p>Compete against other participants to climb the leaderboards. Earn points and recognition as you submit flags and complete LABs, proving your prowess in ethical hacking.</p>
        </div>
        <div class="feature-block">
            <h3>Continuous Learning</h3>
            <p>Stay ahead of the curve with our continuously updated LABs and training materials. Enhance your knowledge and skills with new challenges and content regularly added to the platform.</p>
        </div>
    </section>

    <section class="call-to-action">

        <a href="/help" class="button-glass">Help/FAQ</a>
    </section>
</div>
{% else %}
<div class="content-restricted">
    <header class="header">
        <img src="{{ url_for('static', filename='newstyle/hackplanet_logo.png') }}" alt="HackPlanet Logo" class="logo">
        <h1>Welcome to HackPlanet.EU!</h1>
    </header>

    <section class="intro">
        <p>Your journey into the world of ethical hacking begins here. Sign up or log in to start exploring our interactive LABs and join our community of hackers.</p>
    </section>

    <div class="container-login">
        <form action="/login" method="post">
            <label for="username">Username:</label><br>
            <input type="text" class="input-glass" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" class="input-glass" id="password" name="password"><br>
            <div class="button-container">
                <input type="submit" value="LOGIN" class="button-glass">
                <a href="/register" class="button-glass">REGISTER</a>
            </div>
        </form>
    </div>
</div>
{% endif %}
</div>
{% endblock %}