{% extends 'base.html' %}

{% block content %}



<div class="container-base">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flashes">
        {% for message in messages %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>
        
    {% endif %}
    {% endwith %}

</div>
{% if current_user.is_authenticated %}
<div class="content-restricted">
    <img src="{{ url_for('static', filename='newstyle/hackplanet.png') }}" alt="ShareWareZ Logo" class="login-logo">

    <div class="content-restricted-textblock">
        {{ current_user.name }}, welcome to HackPlanet.EU!<br>
        <br>
        Embark on an exhilarating journey through the realm of ethical hacking. 
        Here, you can sharpen your skills, uncover vulnerabilities, and rise to the top of the leaderboards. 
        <br><br>
        Immerse yourself in our meticulously crafted LAB environments, each presenting unique challenges that will put your expertise to the test. 
        Collect flags as you conquer each obstacle, earning points and proving your mastery in the art of ethical hacking.
        <br><br>
        Collaborate with fellow hackers, learn from the best, and compete against the brightest minds in the field. 
        The path to becoming an elite ethical hacker starts here at HackPlanet.EU. Are you ready to accept the challenge?<br>
    </div>
    {% else %}
    <div class="content-restricted">
        <img src="{{ url_for('static', filename='newstyle/hackplanet_logo.png') }}" alt="HackPlanet Logo" class="login-logo">
        <div class="content-restricted-textblock">
        Welcome to HackPlanet.EU!<br>
        Please login or register to start hacking.
    </div>
</div>

    <h1></h1>

    <div class="container-login">
        <form action="/login" method="post">
            <label for="username">Username:</label><br>
            <input type="text" class="input-glass" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" class="input-glass" id="password" name="password"><br>
            <div class="button-container">
                <input type="submit" value="LOGIN" class="button-glass">
                <a href="/register" class="button-glass">REGISTER</a>
            </div>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
