{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div>
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="container">
    <div class="glass-panel">
        <div class="labs_title">
            <h1>Study Room</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Welcome to the Study Room! Here you can find resources to enhance your hacking skills.</p>
            </div>
        </div>
        
        <!-- Search and Filter Section -->
        <div class="row mb-4">
            <div class="col-md-6">
                <form action="{{ url_for('main.study_room') }}" method="get" class="d-flex">
                    <input type="text" name="search" class="form-control me-2" placeholder="Search courses" value="{{ search }}">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="d-flex flex-wrap">
                    <a href="{{ url_for('main.study_room') }}" class="btn btn-outline-secondary me-2 mb-2">All</a>
                    {% for tag in all_tags %}
                        <a href="{{ url_for('main.study_room', tag=tag) }}" class="btn btn-outline-primary me-2 mb-2 {% if tag == current_tag %}active{% endif %}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="row mt-4">
            {% for course in courses %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% if course.image %}
                        <img src="{{ url_for('static', filename='library/images/courses/' + course.image) }}" class="card-img-top" alt="{{ course.name }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='library/images/courses/default_course_image.jpg') }}" class="card-img-top" alt="Default Course Image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <p class="card-text">{{ course.description[:100] }}{% if course.description|length > 100 %}...{% endif %}</p>
                        <a href="{{ url_for('main.course_details', course_id=course.id) }}" class="btn btn-primary">View Course</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
