{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div>
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="glass-panel">
    <h1>Theme Preferences</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.theme.label }}
            {{ form.theme(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary mt-3") }}
    </form>
</div>
{% endblock %}
