{% extends "base.html" %}
{% block content %}
<div class="container-login">
    <div class="content-login">
        <img src="{{ url_for('static', filename='newstyle/hackplanet.png') }}" alt="HackPlanet.EU Logo" class="login-logo">
        <h1 class="logo">Invalid Link</h1>
        <p>The link you followed is invalid. Check your email for the correct link or request a new activation link.</p>
        <!-- Button to request a new activation link -->
        <a href="{{ url_for('auth.request_new_activation') }}" class="button-glass">Request New Link</a>
    </div>
</div>
{% endblock %}
